.gallery{
    margin: 10px 50px;
    justify-content: center;
    display: table;
    content: "";
    clear: both;
    
    
}

.img-column{
    float: left;
}

.gallery img{
    width: 230px;
    padding: 5px;
    transition: ease-in-out 600ms;
    filter:grayscale(0%);
    border-radius: 10px;
}
.gallery img:hover{
    filter: grayscale(50%);
    filter:drop-shadow(10%);
    transform: scale(0.9);
    
    
}

@media (max-width:700px){
   
  
}