





#index-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap:10px;
    grid-template-areas:
    "gallery-p gallery-p gallery-p gallery-p"
    "gallery-h2 gallery-h2 gallery-h2 gallery-h2"
    "img1 img2 img3 img4"
    "img5 img6 img3 img7" ;

} 

#index-gallery .gallery-img{
    width: 100%;
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/*images*/
#index-gallery .p{
    grid-area: gallery-p ;
    
}

#index-gallery .h2{
    grid-area: gallery-h2;
    
} 

#index-gallery .img1{
    grid-area: img1;
    background-image: url(./img/thumbs/img1.jpg);
}

#index-gallery .img2{
    grid-area: img2;
    background-image: url(img/thumbs/img2.jpg);
}

#index-gallery .img3{
    grid-area: img3;
    background-image: url(img/thumbs/img3.jpg);
    height: 610px;
}

#index-gallery .img4{
    grid-area: img4;
    background-image: url(img/thumbs/img4.jpg);
}

#index-gallery .img5{
    grid-area: img5;
    background-image: url(img/thumbs/img5.jpg);
}

#index-gallery .img6{
    grid-area: img6;
    background-image: url(img/thumbs/img6.jpg);
}

#index-gallery .img7{
    grid-area: img7;
    background-image: url(img/thumbs/img7.jpg);
}

#index-gallery .img8{
    grid-area: img8;
    background-image: url(img/thumbs/img8.jpg);
}

#index-gallery .img9{
    grid-area: img9;
    background-image: url(img/thumbs/img9.jpg);
}

/*Gallery image titles*/
.gallery-img div{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-img a{
    
    color: blanchedalmond;

}

.gallery-img div:hover{
   opacity: 0.8;
   transition: ease-in-out 200ms;
}


/*popup window when clicked*/
.img-window{
    width: 100hw;
    height:100hv;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 100;



}

.img-window img{
    max-height: 80vh;
    max-width:80wh ;



}






